<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Conteo de Plaquetas</title>
    <link rel="stylesheet" href="/static/styles.css" />
    <link
      rel="icon"
      href="{{ url_for('static', filename='img/icono.png') }}"
      type="image/x-icon"
    />
  </head>

  <body class="body1">
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %}
    <div class="flash-messages">
      {% for category, message in messages %}
      <div class="alert alert-{{ category }} flash-message">{{ message }}</div>
      {% endfor %}
    </div>
    {% endif %} {% endwith %}

    <h1 class="title">Sistema de detección automática de plaquetas</h1>
    <h2 class="subtitle">YOLOv8    
    <div class="user-info">
        Usuario: {{ current_user.username }}
    </div></h2>

    <div class="container">
      <form id="uploadForm">
        <h2>Sube una imagen</h2>

        <input type="file" id="imageUpload" accept="image/*" required /><br />

        <button type="submit">Contar Plaquetas</button>
      </form>

      <div class="image-preview" id="imagePreview">
        <img
          id="defaultImage"
          src="/static/img/not-img-muestra.jpg"
          alt="Imagen predeterminada"
        />

        <img
          id="previewImage"
          src="#"
          alt="Imagen seleccionada"
          style="display: none"
        />

        <div
          id="loadingSpinner"
          class="loadingio-spinner-spinner-2by998twmg8"
          style="display: none"
        >
          <div class="ldio-yzaezf3dcmj">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
      </div>
    <div class="diagnosis-card">
        <h3>Resultado del Análisis</h3>
        <p><span>Número de Plaquetas:</span> <span id="plateletCount"></span></p>
        
        <p><span>Plaquetas estimadas:</span> <span id="plateletEstimated"></span> / µL</p>

        <p><span>Dengue:</span> <span id="dengueStatus"></span></p>
            
    </div>
    </div>

    <div class="buttons-container">
        <a href="{{ url_for('dashboard') }}" class="button3">Realizar nuevo Diagnóstico</a>
        
        <a href="{{ url_for('results') }}" class="button">Ver resultados</a>

        <a href="{{ url_for('register') }}" class="button">Registrar Usuario</a>

        <a href="{{ url_for('logout') }}" class="button2">Cerrar sesión</a>
    </div>

    <script>
      document
        .getElementById("imageUpload")
        .addEventListener("change", function () {
          const file = this.files[0];

          if (file) {
            const reader = new FileReader();

            reader.onload = function (e) {
              document.getElementById("defaultImage").style.display = "none";

              document.getElementById("previewImage").src = e.target.result;

              document.getElementById("previewImage").style.display = "block";
            };

            reader.readAsDataURL(file);
          }
        });

      document.getElementById("uploadForm").onsubmit = async function (e) {
        e.preventDefault();

        const fileInput = document.getElementById("imageUpload").files[0];

        const formData = new FormData();

        formData.append("image", fileInput);

        document.getElementById("loadingSpinner").style.display = "flex";

        document.getElementById("previewImage").classList.add("blur");

        try {
          const response = await fetch("/count-platelets", {
            method: "POST",

            body: formData,
          });

          const data = await response.json();

          console.log(data);

        if (data.error) {
            showSystemAlert(data.error);
            document.getElementById("loadingSpinner").style.display="none";
            document.getElementById("previewImage").classList.remove("blur");
            return;
        }


          const plateletCount = data.platelets_detected;

          const plateletsEstimated = data.estimated_platelets_per_ul;

          const dengueStatus = data.dengue_status;

          const processedImage = data.processed_image;



          const dengueStatusElement = document.getElementById("dengueStatus");

        const estimatedElement = document.getElementById("plateletEstimated");

            if(plateletsEstimated >= 150000){

                estimatedElement.style.color = "#27ae60";

            }

            else if(plateletsEstimated >= 100000){

                estimatedElement.style.color = "#f1c40f";

            }

            else if(plateletsEstimated >= 50000){

                estimatedElement.style.color = "#e67e22";

            }

            else{

                estimatedElement.style.color = "#e74c3c";

            }

            dengueStatusElement.innerText = dengueStatus;

            dengueStatusElement.style.fontWeight = "bold";

            if(dengueStatus === "Normal"){

                dengueStatusElement.style.color = "#27ae60";

            }

            else if(dengueStatus === "Riesgo leve"){

                dengueStatusElement.style.color = "#f1c40f";

            }

            else if(dengueStatus === "Posible dengue"){

                dengueStatusElement.style.color = "#e67e22";

            }

            else{

                dengueStatusElement.style.color = "#e74c3c";

            }
          
          document.getElementById("plateletCount").innerText = plateletCount;

          document.getElementById("dengueStatus").innerText = dengueStatus;

          document.getElementById("plateletEstimated").innerText = plateletsEstimated;

          document.getElementById("previewImage").src = processedImage;

          document.getElementById("loadingSpinner").style.display = "none";

          document.getElementById("previewImage").classList.remove("blur");

        } catch (error) {
          console.error("Error:", error);

          document.getElementById("loadingSpinner").style.display = "none";

          document.getElementById("previewImage").classList.remove("blur");
        }
      };

      setTimeout(function () {
        const flashMessages = document.querySelectorAll(".flash-message");

        flashMessages.forEach(function (message) {
          message.style.transition = "opacity 0.5s ease";

          message.style.opacity = "0";

          setTimeout(() => message.remove(), 500);
        });
      }, 3000);

        function showSystemAlert(message){
            const alertBox = document.getElementById("systemAlert");
            const alertMessage = document.getElementById("alertMessage");
            alertMessage.innerText = message;
            alertBox.style.display = "block";
            setTimeout(function(){
                alertBox.style.display = "none";
            }, 3500);
        }
    </script>

    <div id="systemAlert" class="system-alert">
        <span id="alertMessage"></span>
    </div>

    <footer class="footer">

        Sistema de detección automática de plaquetas mediante visión computacional <br>
        Universidad Señor de Sipán – Ingeniería de Sistemas <br>
        2026<br>
        José Carlos Laynes Castillo - Josué Enoc Espinoza Purisaca

    </footer>  

    
</body>
</html>
